# Core web framework
fastapi
uvicorn

# Machine Learning & Data
scikit-learn
pandas
numpy
nltk

# File Parsing
PyMuPDF
python-docx

# RAG Feature
google-generativeai
sentence-transformers
faiss-cpu
python-dotenv