# Core web framework
fastapi
uvicorn

# Machine Learning & Data
scikit-learn==1.6.1
pandas
numpy
nltk

# File Parsing
PyMuPDF
python-docx

# RAG Feature
google-generativeai
sentence-transformers
faiss-cpu
python-dotenv